@font-face {
    font-family: "Kanit";
    src: url(../kanit/Kanit-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-transform: capitalize;
}
.flex-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-colum{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.info{
    margin-top: 3rem;
    width: 100%;
    height: auto;
}
.user{
    background-color: #eff8f2;
    border: solid 3px gold;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    font-weight: 600;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.user:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.quiz{
    background-color: #eff8f2;
    border: solid 3px gold;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    font-weight: 600;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.quiz:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.result-h2{
    margin: 5rem 2rem 2rem 2rem;
    padding: 1rem 0rem;
    text-align: center;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.result{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    border: 2px solid black;
}
table th{
    padding: 1rem;
    border-bottom: 2px solid black;
}
td{
    padding: 1rem;
}
.feedback{
    margin: 2rem 0rem;
}