@font-face {
    font-family: "Kanit";
    src: url(../kanit/Kanit-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

.timer {
    font-weight: 600;
    font-size: 2rem;
    position: absolute;
    top: 15%;
    right: 10%;
    color: green;
    text-align: right;
}

.flax {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    height: 5rem;
    width: 5rem;
    margin: 0.5rem 1rem;
}

body {
    background-color: #eff8f2;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    background-color: white;
    border-bottom: 1px solid #d0d0ef;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    animation: header 0.75s ease-out;
}

@keyframes header {
    0% {
        opacity: 0;
        transform: translatey(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.user-pic {
    height: 2.5rem;
    width: auto;
    border: solid 2px #ff961db3;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(148, 135, 135);
}

.user-pic:hover {
    box-shadow: 0px 1px 10px rgb(148, 135, 135);
    transition: all ease 0.3s;
}

.a {
    color: black;
    font-family: "Kanit", sans-serif;
    display: inline-block;
    transition: all ease 0.3s;
    font-size: 1.3rem;
    font-weight: 600;
}

.a:hover {
    color: #FF971D;
}

header ul li {
    display: inline-block;
    margin: -1rem 3rem;
}

.user-logo {
    margin: 1rem 1rem 1rem 0.5rem;
    height: 2.5rem;
    width: auto;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(148, 135, 135);
}

.sub-menu {
    position: absolute;
    right: 0.5rem;
    top: 6.5rem;
    background-color: white;
    border-radius: 5px;
    width: 14rem;
    box-shadow: 0px 0px 5px rgb(148, 135, 135);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s;
    z-index: 500;
}

.open {
    max-height: 25rem;
}

.sub-menu h2 {
    margin: 1rem;
}

.sub-menu hr {
    border: 1px solid black;
    background: black;
    margin: 5px;
    box-shadow: 0px 0px 2px rgb(148, 135, 135);
}

.menu-link p {
    font-size: medium;
    width: 50%;
    font-weight: 400;
}

.menu-link span {
    font-size: 25px;
    transition: transform 0.5s;
}

.menu-link:hover span {
    transform: translateX(10px);
    color: #FF971D;
}

.menu-link:hover p {
    transition: color 0.4s;
    color: #FF971D;
    font-weight: 600;
}



@media screen and (max-width:850px) {
    header {
        justify-content: center;
    }

    header ul li {
        display: inline-block;
        margin: -1rem 1rem;
    }

    .a {
        font-size: 1rem;
        font-weight: 600;
    }

    .user-pic {
        margin-top: 0rem;
        height: 1.5rem;
        width: auto;
    }
}

@media screen and (max-width:555px) {
    header {
        height: 4rem;
    }

    header ul li {
        display: inline-block;
        margin: -1rem 0.3rem;
    }

    .a {
        font-size: 0.8rem;
        font-weight: normal;
    }

    .nav-logo {
        height: 3rem;
        width: auto;
        /* margin: 0.5rem 0.3rem; */
    }

    .sub-menu {
        top: 4.5rem;
    }
}

@media screen and (max-width:380px) {
    header {
        justify-content: center;
    }

    .a {
        font-family: Arial, Helvetica, sans-serif;
    }

    .sub-menu {
        width: 10rem;
    }

    .menu-link p {
        font-size: 0.8rem;
    }

    h3 {
        font-size: 0.8rem;
    }

    .sub-menu hr {
        margin: -5px 5px;
    }

    .menu-link:hover span {
        transform: translateX(5px);
    }

    .user-logo {
        height: 1.5rem;
    }
}

@media screen and (max-width:350px) {
    .a {
        font-size: 0.7rem;
    }

    .nav-logo {
        height: 2rem;
        width: auto;
        margin-top: 0rem;
    }

    ul {
        padding: 0;
    }

    nav {
        width: 100%;
        font-size: .85rem;
    }
}