
* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

body {
    background-image: url("../img/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background-color: transparent; /* Added background color for better contrast */
    height: auto;
    max-width: 90%;
    width: 25rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.458);
    padding: 1rem;
}

.header {
    margin: 2rem 0;
    text-align: center;
}

.label {
    font-weight: 600;
    color: white;
    margin: 1rem 0;
}
.formerror span{
    color: red;
    font-weight: 600;
    margin: 5rem 0rem;
}
form input[type=text], [type=password] {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: solid 2px white;
    height: 2rem;
    width: 100%;
    max-width: 20rem;
    padding: 0px 5px;
    font-weight: 600;
    margin: 0.8rem 0;
    color: rgb(244, 246, 222);
}

.Sign-in {
    height: 2rem;
    width: 100%;
    max-width: 20rem;
    outline: none;
    border: none;
    font-size: medium;
    font-weight: 600;
    border-radius: 5px;
    margin: 1rem 0;
    cursor: pointer;
    background-color: rgba(58, 40, 16, 0.223);
    color: black;
}

.Sign-in:hover {
    color:white;
    background-color: transparent;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.458);
    transition: all 0.5s;
}

p {
    margin: 1rem;
    text-align: center;
    color: white;
}

@media (max-width: 600px) {
    .main-container {
        width: 90%;
        padding: 0.5rem;
    }

    .header {
        margin: 1.5rem 0;
    }

    form input[type=text], [type=password], .Sign-in {
        width: 100%;
        max-width: none;
    }
}
